<div id="overallCon" class="group"  >
    <div id="headerCon" class="overlay">
        <h1 class="header-title">USA TODAY RECORD QUIZ</h1>
        <div class="instruct">For Record Store Day (April 18), see how much you know about classic albums.</div>
        <h2 class="round-title">Round 1: TOTAL SALES</h2>
        <div class="instruct">Match the number of units sold (in millions) to the album</div>
        <div class="button" id="begin-button">Begin</div>
    </div>
    <div class="round-container"></div>
    <!--TWITTER AND FACEBOOK SHARING-->
    <div id="shareCon">
            
    </div>
    <!--END TWITTER AND FACEBOOK SHARING-->
</div>
    
</div>

<div id="landscape-warning">
		<h2>Please rotate your device.</h2>
</div>

