<div id="overallCon" class="group"  >
    <div id="headerCon">
        <h1 class="header-title">Celbrity Age Matching Game</h1>
        <div class="instruct">How long will it take you to get all of these correct? Guess how old each celeb is by dragging their age to their photo.</div>
        <div class="button" id="begin-button">Begin</div>
    </div>
    <div class="round-container"></div>
    <!--TWITTER AND FACEBOOK SHARING-->
    <div id="shareCon">
            <p class="congrats">Congratulations, you matched them all!</p>
            <p id="share">It took you 00 attempts to match them all. Share your score!</p>
            <div class="share group">
                <a class="tshare" href="javascript: window.open('https://twitter.com/intent/tweet?url=http%3A%2F%2Fusatoday30.usatoday.com%2Fexp%2Fnineties%2Findex.html&text=How%20well%20do%20you%20remember%20the%20nineties?%20Check%20out%20our%20stream%20of%20famous%2090s%20moments. &via=usatoday', 'twitterwindow', 'height=450, width=550, top=200, left=200, toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');Analytics.click('Twitter share');void(0);"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/twitter.png" alt="Share" class="social" border="0"></a>
                <a class="eshare" href="mailto:?body=How%20well%20do%20you%20remember%20the%20nineties?%20Check%20out%20our%20stream%20of%20famous%2090s%20moments. %0d%0d http%3A%2F%2Fusatoday30.usatoday.com%2Fexp%2Fnineties%2Findex.html&subject=The%20Nineties" onclick="var sharer = window.open('http://usatoday30.usatoday.com/_common/_dialogs/fb-share-done.html','sharer','toolbar=0,status=0,width=580,height=400,top=200,left=200');setTimeout(function() {sharer.close();}, 500);void(0);"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/email.png" alt="Share" class="social" border="0"></a>
                <a class="fbshare" href="javascript: var sTop=window.screen.height/2-(218);var sLeft=window.screen.width/2-(313);window.open('https://www.facebook.com/dialog/feed?display=popup&app_id=215046668549694&link=http%3A%2F%2Fusatoday30.usatoday.com%2Fexp%2Fnineties%2Findex.html&picture=http://usatoday30.usatoday.com/exp/nineties/img/fb-post.jpg&name=The%20Nineties&description=How%20well%20do%20you%20remember%20the%20nineties?%20Check%20out%20our%20stream%20of%20famous%2090s%20moments.&redirect_uri=http://usatoday30.usatoday.com/_common/_dialogs/fb-share-done.html','sharer','toolbar=0,status=0,width=580,height=400,top='+sTop+',left='+sLeft);Analytics.click('Facebook share');void(0);"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/facebook.png" alt="Share" class="social" border="0"></a>
          </div>

    </div>
    <!--END TWITTER AND FACEBOOK SHARING-->
</div>
    
</div>

<div id="landscape-warning">
		<h2>Please rotate your device.</h2>
</div>

