<div id="overallCon" class="group"  >
    <div id="headerCon">
        <h1 class="header-title">USA TODAY RECORD QUIZ</h1>
        <div class="instruct">In honor of Record Store Day (April 18), see how much you know about classic albums.</div>
        <div class="button" id="begin-button">Begin</div>
    </div>
    <div class="round-container"></div>
    <!--TWITTER AND FACEBOOK SHARING-->
    <div id="shareCon">
            
    </div>
    <!--END TWITTER AND FACEBOOK SHARING-->
</div>
    
</div>

<div id="landscape-warning">
		<h2>Please rotate your device.</h2>
</div>

