<div id="instructions"><h2>CELBRITY AGE MATCHING GAME</h2><h3>Drag the correct age to the corresponding celebrity on the right.</h3></div>
        <div id="scoreCon" class="group ">
            <div id="timer"><span id="minutes">00</span><span>:</span><span id="seconds">00</span></div>
                <div class="score">
                    <div class="score-inner"><div class="numDisp" id="numCorrect">0</div> Correct</div>
                    <div class="score-inner"><div class="numDisp" id="numAttempts">0</div> Attempts</div>
                </div>
            </div>
            <div class="drag-wrap"></div>
