<p class="congrats">Congratulations, you matched them all!</p>
    <p id="share">It took you 00 attempts to match them all. Share your score!</p>
    <div class="share group">
        <a class="tshare social social-popup" href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/twitter.png" alt="Share"  border="0"></a>
        <a class="eshare social" href="<%=email_link%>" ><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/email.png" alt="Share"  border="0"></a>
        <a class="fbshare social social-popup" href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/record-day/img/facebook.png" alt="Share"  border="0"></a>
  </div>

