.button {
  background-color: $blue;
  color: white;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .5s;
  width: 120px;
  &:hover{
    background-color: lighten($blue, 5);
    cursor: pointer;
    transition: background-color .5s;
  }
}